body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: rgba(33, 64, 54, 0.8);
    /*overflow-x: hidden;*/
}

#header {
    height: 90px;
    background-color: #fff;

}

#header a {
    color: inherit;
    text-decoration: none;
}

.logo_header {
    background-image: url(./../fonts/Logotype1.png);
    width: 174px;
    height: 70px;
}

#header {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto;
    border: 1px solid #000;
    display: table-row;
}

.story-block_type_text {
    padding: 0 15px;
}

.content, .sidebar {
    display: table-cell;
}

.positionHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}


.positionTextSecondItem {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.paddingSecondItem {
    padding: 40px 0;
}

.left {
    width: 30%;
}

.right {
    width: 25%;
}

#menu_header ul li {
    float: left;
    padding-right: 30px;
    list-style-type: none;
}

#menu_header .greenRectangle, .greenLink {
    color: #ffffff;
}

#sendMessage {
    width: 136px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    background-color: #41826E;
    padding: 11px 0px 11px 18px;
    color: #ffffff;
}

#contactUs {
    width: 136px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    background-color: #41826E;
    padding: 11px 17px 11px 18px;
    color: #ffffff;
}

#meetOurTeam {
    width: 138px;
    margin: auto;
    margin-top: 70px;
    cursor: pointer;
    background-color: #41826E;
    padding: 11px 3px 11px 18px;
    color: #ffffff;
}

#meetOurTeam a {
    color: #ffffff;
    text-decoration: none;
}

#menu_header .active {
    font-weight: 700;
    color: #41826E;
}

.defaultFontSize {
    font-size: 16px;
}

.centered.textOnImage p {
    padding-left: 20px;
}

.defaultFontColor {
    color: #707070;
}

/*mobile menu*/
.toggle-menu {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
    display: none;
}

.toggle .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    text-align: center;
    padding: 10px 0;
}

.nav-bar {
    z-index: 100;
    position: fixed;
    background-color: #ffffff;
    color: #41826e;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
}

.toggle {
    right: 0;
    box-shadow: 1px 0 15px 2px rgb(0 0 0 / 40%);
}

#firstItem {
    position: relative;
    text-align: left;
}

.centered {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.textOnImage {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0px;
    background: transparent;
    color: white;
    border-left: 2px solid white;
}

#secondItem {
    width: 100%;
    max-width: 1260px;
    min-width: 780px;
    background-color: #FFF;
    margin: 0 auto;
    border: 1px solid #000;
    display: table-row;
}

.test {
    padding: 11px 23px 13px 18px;
    background-color: #41826E;
}

.helpText {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #314B43;
}

.arrow {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.rightIcon {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 1px;
}

.arrow div {
    transform: rotate(48deg);
    width: 9px;
    background-color: white;
    height: 2px;
    top: 2px;
    left: 1px;
    position: absolute;
}

#fourthItem {

}

.firstColumn {
    width: 45%;
    float: left;
}

.secondColumn {
    width: 45%;
    float: right;
}

.serviceText {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;

}

.serviceElementPosition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.serviceElementPosition img {
    padding-top: 12px;
    padding-right: 12px;
    float: left;
}

.elementWithTextAndIcon {
    width: 50%;
}

.strongTextWithImage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

#teamList {
    list-style-type: none;
}

#teamList .teamText {
    position: relative;
    display: grid;
    margin: 0 0 2px;
    grid-template-columns: 30% 1fr 100px;
}

#textMessage {
    width: 97.5%;
    margin: 10px;
    height: 160px;
}

.gfield_required {
    color: #d2722d !important;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}

.weight400 {
    font-weight: 400;
}

.fontSize22 {
    font-size: 22px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize36 {
    font-size: 36px;
    font-weight: 700;
}

.positionInput {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.positionTextArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.inputStyle {
    /*width: 309px;*/
    height: 42px;
    width: 92%;
}

.inputStyleLong {
    /*width: 472px;*/
    width: 91%;
    height: 42px
}

#imgWithBoat {
    width: 600px;
    height: 600px;
}

#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #0d3f2f;
}

.logo_for_footer {
    background-image: url(./../fonts/logoForFooter1.png);
    width: 248.69px;
    height: 100px;
}

#footerMenu li {
    float: left;
    padding-right: 30px;
    list-style-type: none;
}

#footerMenu li a {
    text-decoration: none;
    color: #E0E0E0;
}

#copyright {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

#footerMenu .active {
    font-weight: 700;
}

.textWidthSecondItem {
    width: 80%;
}

.textLittleWidthSecondItem {
    width: 20%;
}

#menu_header .nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#contactForm input {
    margin: 10px;
}

#contactForm label {
    margin-left: 10px;
}

@media (min-width: 992px) {
    .content {
        height: 90px;
        width: 45%;
        min-width: 1000px;
    }
}

/*@media (max-width: 1024px) {*/
/*    .inputStyle {*/
/*        width: 380px;*/
/*    }*/
/*    .inputStyleLong {*/
/*        width: 380px;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
    .sidebar.left {
        display: none;
    }

    .sidebar.right {
        display: none;
    }

    p {
        padding: 0 15px;
    }
}

@media (min-width: 768px) {
    #list_header_menu {
        display: block;
    }

    .toggle-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    #list_header_menu {
        display: none;
    }

    .toggle-menu {
        display: flex;
    }

    .centered.textOnImage {
        font-size: 20px;
    }

    .textWidthSecondItem {
        width: 75%;
    }
}

@media (max-width: 425px) {
    #secondItem .positionTextSecondItem {
        flex-direction: column;
    }

    .centered.textOnImage {
        font-size: 7px;
        line-height: normal;
    }

    .twoColumsOfText {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .serviceElementPosition {
        flex-direction: column;
    }

    .firstColumn, .secondColumn {
        width: 100%;
    }

    .elementWithTextAndIcon {
        width: 100%;
        margin: 10px;
    }

    .strongTextWithImage {
        display: block;
    }

    .strongTextWithImage img {
        max-width: 424px;
    }

    #teamList .teamText {
        grid-template-columns: 100%
    }

    #teamList {
        padding: 0;
    }

    #imgWithBoat {
        width: 397px;
        height: auto;
    }

    #ContactUsToday img {
        width: 425px;
        height: auto;
    }

    .positionInput {
        flex-direction: column;
        align-items: stretch;
    }

    #textMessage {
        width: 88%;
    }

    .inputStyle, .inputStyleLong {
        width: 88%;
    }

    #footerMenu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
}
